@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap');
/* reset css */

/* scroll bars */
*{
    scrollbar-width: thin;
    scrollbar-color: #700CBC #FFF;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #700CBC;
    outline: .1rem solid #333;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*tes display block*/

/* section:nth-of-type(3) ul{
    overflow: hidden;
    display: table;
}

section:nth-of-type(3) ul li{
    display: block;
    float: left;
    width: calc(100% / 4);
}*/

section:nth-of-type(3) ul li img{
    display: block;
    width: 100%;
    transition-duration: .6s;
    
} 

section:nth-of-type(3) ul li:hover img{
    transform: scale(1.5);
}

section .grid-logo{
    width: auto;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(4, 1fr); /* valeurs autot 4 fois */
    grid-gap: 1.0rem;
    grid-auto-flow: dense;
}

/* menu */

nav ul{
    max-width: 80rem;
    margin: 0 auto 2rem;
}

nav ul li{
    display: inline-block;
    line-height: 4.5rem;
    text-align: center;
    width: calc(100% / 5);
}

nav ul li a{
    display: block;
    width: 100%;
    transition: all 500ms ease-in-out;
}

nav ul li:hover a{
    background-color: var(--color-background);
}

body{

    font: 1.6rem 'Inconsolata', sans-serif;
    margin: 0;
    background-color: #fff;
}

h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

p{
    font: 2rem, "Inconsolata";
}

a{
    color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
button{
    padding: 0;
    border: 0;
    background-color: transparent;
}

:root{
    --color-default: #000;
    --color-title: #fff;
    --color-background: #700CBC;
    --color-background2: #2d1142;
}

header{
    background-color: var(--color-background2);
}

header h1{
    text-align: center;
    padding: 1.5rem;
    color: var(--color-title);
    margin-bottom: 3rem;
}

header h1 img{
    vertical-align: middle;
    width: 5rem;
}

section ul{
    padding-left: 3rem;
    list-style-type: square;
}

section{
    max-width: 90rem;
    margin: 0 auto 0;
    
}

section h2{
    top: 0;
    position: sticky;
    color: var(--color-title);
    text-align: center;
    padding: 1.5rem;
    background-color: var(--color-background);
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 50rem;

}



.history{
    transition: all 500ms ease-in-out;
}

.history:target{
    background-color: #700CBC;
    color: #2d1142;
}


/* responsive */

@media screen and (max-width: 60rem){
    
    nav ul li{
        display: block;
        text-align: center;
        width: auto;
    }

    header h1{
        font-size: 2rem;
        margin-bottom: .1rem;
    }

    nav ul{
        width: auto;
        margin: 0;
    }

    main{
        margin: 0 1%;
    }

    header h1 .material-icons{
        display: inline-block;
    }
}
